[submodule "prezto"]
	path = prezto
	url = https://github.com/piquesel/prezto.git
[submodule "vim/bundle/vim-wombat256mod"]
	path = vim/bundle/vim-wombat256mod
	url = git@github.com:michalbachowski/vim-wombat256mod.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
